<h2> Nombre del producto: </h2>
<p id="name"> </p>

<div id="elements">
<form id="form">
    Tittle: <input type="search" name="name" id="tittle">
    Description: <input type="search" name="name" id="description">
    Price: <input type="number" name="name" id="price">
    Search: <input type="submit" value="Enviar" id="search">
</form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/src/public/index.js"></script>