<h2> Precio del producto: </h2>
<p id="precio1"> 100</p>

<form id="form">
    Precio: <input type="number" name="precio" id="precio">
            <input type="submit" value="Enviar">
</form>

<script src="/socket.io/socket.io.js"></script>
<script> const socket = io(); </script>